@font-face {
  font-family: roboto-light;
  src: url('../fonts/roboto/Roboto-Light.ttf');
}

@font-face {
  font-family: roboto-bold;
  src: url('../fonts/roboto/Roboto-Bold.ttf');
}

@font-face {
  font-family: roboto;
  src: url('../fonts/roboto/Roboto-Regular.ttf');
}

ul {
  list-style: none;
  display: flex;
  justify-content: center;
  background-color: #eaece5;
  font-size: 20px;
  padding: 10px;
}

ul a {
  padding: 10px; 
}

body {
  margin: 0px;
  color: #eaece5;
  background-color: rgb(240, 240, 240);
  font-family: roboto, sans-serif;
  font: 20px;
}

body > header {
  height: auto;
  width: 100%;
  background-color: #3b3a30;
  text-align: center;
}

h1, h2 {
  margin: 0px;
}

main {
  display: flex;
  justify-content: space-between;
  align-content: center;
  width: 90%;
  margin: 5%;
  color: black;
  height: auto;
}

main header {
  text-align: center;
  margin 0px;
}

section {
  margin: 10px;
  border-radius: 1px;
  background-color: #b2c2bf;
  padding: 5px;
  width: 31%;
  height: 800px;
}

section header {
  height: 64%;
  width: 100%;
  background-color: #3b3a30;
  color: #eaece5;
}

section img {
  height: 400px;
  width: 100%;
}

section article {
  text-align: justify;
}

section footer {
  margin-top: 5px;
  text-align: center;
}

#rodape {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: roboto, sans-serif;
  background-color: #3b3a30;
}

header > a:visited, header > a:link {
  text-decoration: none;
  color: #eaece5;
}

li > a:visited, li > a:link {
  text-decoration: none;
  color: #3b3a30;
}

header > a:hover, li > a:hover {
  background-color: #3b3a30;
  color: #eaece5;
  opacity: .5;
}