@font-face {
  font-family: roboto-light;
  src: url('../fonts/roboto/Roboto-Light.ttf');
}

@font-face {
  font-family: roboto-bold;
  src: url('../fonts/roboto/Roboto-Bold.ttf');
}

@font-face {
  font-family: roboto;
  src: url('../fonts/roboto/Roboto-Regular.ttf');
}

body {
  margin: 0px;
  color: #eaece5;
  background-color: #c0ded9;
}

body > header {
  height: 50px;
  background-color: #3b3a30;
  width: 100%;
}

h1 {
  height: 50px;
  margin: 0px;
}

.centralizar {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

main {
  width: 90%;
  margin: 5%;
  color: black;
  height: auto;
}

main header {
  text-align: center;
  margin 0px;
}

main section header h1 {
  background-color: #3b3a30;
  color: #eaece5;
  font-family: roboto-light, sans-serif;
  margin: 0px;
  padding: 0px;
  height: 70px;
}

section {
  margin: 10px;
  border-radius: 10px;
  background-color: #b2c2bf;
  width: 31%;
}

section img {
  height: 400px;
  width: 100%;
}

section footer {
  height: 30px;
}

#rodape {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: roboto, sans-serif;
  background-color: #3b3a30;
}